@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-poppins: "Poppins",;
}


.gold-curve-bg {
  position: relative;
  background: linear-gradient(to bottom, white, #040720); /* White to Blue-Black */
}

.gold-curve-bg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 40%;
  background: linear-gradient(to bottom,#040720, white );
  clip-path: ellipse(80% 100% at top);
}

.font-poppins {
  font-family: var(--font-poppins);
}

.font-abyssinica-sil {
  font-family: var(--font-abyssinica-sil);
}

.font-noto-serif {
  font-family: var(--font-noto-serif);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
